*{
    margin: 0;
    padding: 0;
}
.header-container{
    display: flex;
    justify-content: space-around;
    padding: 10px ;
    background-color: gray;
    /* margin-bottom: 20px; */
    
}
.meanu-container ul{
    display: flex;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}
.meanu-container ul li{
    list-style: none;
    
}
.meanu-container ul li a{
    text-decoration: none;
    color:black;
}
.logo-photo {
    display: flex;
    justify-content: center;
}
.logo-photo img{
    /* width: 250px; */
    /* margin-left: 200; */
    /* padding-left: 0px; */
    

}
.logo-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-right: 500px; */
    
}